<!doctype html>
<html lang="en">
    <%- include('../partials/head', {title: 'Gaming Zone - Create Product'}) %>
    <body>  
      <%- include('../partials/header') %>
      <main id="bg-create-product" class="d-flex align-items-center p-4">
        <div class="container">
          <div class="row justify-content-center py-3">
            Se ha eliminado el producto
          </div>    
        </div>
      </main>
      <%- include('../partials/footer') %>
      <%- include('../partials/scripts') %>
    </body>
  </html>