#bg-register{
    background-image: url(../images/original.jpeg);
    background-position: center center;
    background-size: cover;
	height: 73vh;
}

#bg-inside-register{
    background-color: #1E1E1E;
}

.adjust-container{
    height: 73vh;
}

.register-input{
    background-color: #363636;
    color: white;
    border: #1E1E1E 1px solid;
}

form h2{
    margin: 20px 0;
}

.redes-sociales-a{
   background-color: #4C00CC;
   display: block;
   width: 100%;
   height: 50px;
}

.redes-sociales i{
    background-color: #4C00CC;
    color: white;
    font-size: 25px;
    padding: 12.5px 0;
}

.adjust{
    width: 25%;
}
.redes-sociales{
    margin-bottom: 20px;
}

.redes-sociales p a{
    text-decoration: none;
    color: white;
}

form p{
    margin-top: 10px;
}

form button{
    background-color: #4C00CC;
    border: #4C00CC solid 2px;
}

.vacio{
    visibility: hidden;
}