/* GENERALES */

html{
	font-size: 14px;
}

body{
	font-family: 'Rubik', sans-serif;
	background-color:#121212;
	color: #ffffff;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-primary, .btn-primary{
	background-color: #4C00CC !important;
}

.btn-primary{
	border-color: #4C00CC !important;
}

.bg-dark{
	background-color: #1E1E1E !important;
}

/* HEADER */

.logo{
	max-width: 150px;
}

.main-menu a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1rem;
	margin-left: 1rem;
}

#searchbar{
	max-width: 75%;
}

#searchbar .input-group-text, #searchbar input{
	border: 0;
	background-color: #363636;
	color: #fff;
}

/* MAIN */

#main-slider{
	background-image:url('../images/spiderman.jpeg');
	background-position: center center;
	background-size: cover;
	height: 75vh;
	min-height: 500px;
	position:relative;
	overflow:hidden;	
}

#main-slider:before {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
	z-index:0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
    background-image: linear-gradient(180deg, transparent, black);
}

#main-slider .row{
	z-index:1;
}

#slider-indicators button.slide-indicator{
	height:12px;
	border-radius:10px;
	border:none;
	background-color:rgba(255, 255, 255, 0.2);
	margin-right:10px;
}

#slider-indicators button.slide-indicator.selected{
	background-color:rgba(255, 255, 255, 0.5);
}

#slider-indicators button:last-child{
	margin-right:0px;
}

#ofertas article, #novedades article, #proximamente article, #tabs article, #noticias article{
	margin-bottom: 25px;
}

/* BANNER NEWSLETTER */

#newsletter input{
	background-color:rgba(255,255,255,0.1);
	border:none;
	color:#fff;
}

#newsletter button{
	width:100%;
}

/* FOOTER */

footer{
	background-color: #1E1E1E;
}

footer nav ul li a{
	text-decoration: none;
	color: #fff;
}

footer nav ul li a:hover{
	color: #4C00CC;
}

ul#social-links li a{
	display: block;
	width: 30px;
	height: 30px;
	background-color: #4C00CC;
	padding: 5px;
	border-radius: 20px;
	color: #fff;
}

#legales{
	background-color:#121212;
}

/* REGISTER & LOGIN & CREATE*/

#bg-login, #bg-register, #bg-create-product, #bg-update-product{
    background-position: center center;
    background-size: cover;
	height: 75vh;
	min-height: 550px;
}

#bg-create-product{
	background-image: url(../images/egs-en-genshin-impact-2-8-breaker-1248x702-9bc4c4d899b7.jpeg);
}
#bg-login{
    background-image: url(../images/original.jpeg);
}

#bg-register{
    background-image: url(../images/register-bkg.webp);
}
#bg-update-product{
	background-image: url(../images/fall-guys.jpeg);
}

#login-form input, #register-form input, #create-form input, #create-form textarea, #update-form input, #update-form textarea{
    background-color: #363636;
    color: white;
    border: #1E1E1E 1px solid;
}

#create-form textarea, #update-form textarea{
	height: 100px;
}

.redes-sociales i{
    background-color: #4C00CC;
    color: white;
    font-size: 25px;
    padding: 12.5px 0;
}

form p{
    margin: 5px 0px 5px 0px;
}

form p a{
    text-decoration: none;
    color: #D9D9D9;
}

form hr, #cart-resume hr{
    border-top: #363636 solid 2px;
}

/* CART */

.bg-semi-dark {
    background-color: #363636 !important;
}

.bg-primary-dark {
    background-color: #1E1E1E !important;
}

#cart-resume p{
	font-size:1.2rem;
	margin-bottom:0;
}

#cart-resume .cart-total p{
	font-size:1.4rem;
	font-weight:bold;
}

#cart-resume hr{
	font-size:1.2rem;
}

.cart-item-details img{
	width:150px;
}

.cart-item small{
	font-size:1rem;
}

/* PRODUCT */

.play-button{
	top:50%;
	right:50%;
	background-color:#4C00CC;
	border-radius:50px;
	width:60px;
	height:60px;
}

.chart-puntuacion{
	border:solid 2px #4C00CC;
	width:75px;
	height:75px;
	border-radius:90px;
}

.item-requirement{
	border-bottom:1px solid #1E1E1E;
	margin-bottom:15px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#ofertas article, #novedades article, #proximamente article, #tabs article, #noticias article{
		margin-bottom: 0px;
	}

	.cart-item-details img{
		width:200px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#main-slider{
		height: auto;
	}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}