<!doctype html>
<html lang="en">
  <%- include('./partials/head', {title: 'Gaming Zone - Error 500'}) %>
  <body>
    <main>
      <div class="container text-center py-5 vh-100">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="col-md-6">
            <img src="/images/game-over.png" class="img-fluid">
            <h2 class="mb-3">500 Error interno del servidor</h2>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/scripts') %>
  </body>
</html>