<footer>
    <div class="container">
      <div class="row text-center py-5 align-items-center">
        <div class="col-md-4 order-2 order-md-1">
          <nav id="nav">
            <ul class="list-unstyled">
              <li><h5>SOPORTE</h5></li>
              <li><a href="#">Preguntas Frecuentes</a></li>
              <li><a href="#">Centro de Ayuda</a></li>
              <li><a href="#">Términos y condiciones</a></li>
            </ul>
          </nav>
        </div>
         <div class="col-md-4 my-4 my-md-0 order-1 order-md-2">
            <img src="/images/logo.svg" class="logo">
            <ul id="social-links" class="d-flex justify-content-center list-unstyled mt-4">
              <li class="me-2"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li class="me-2"><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
              <li class="me-2"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-twitch"></i></a></li>
            </ul>
        </div>
        <div class="col-md-4 order-3">
          <nav id="nav">
            <ul class="list-unstyled">
              <li><h5>ACERCA</h5></li>
              <li><a href="#">Sobre nosotros</a></li>
              <li><a href="#">Mi cuenta</a></li>
              <li><a href="#">Vender mi juego</a></li>
            </ul>
          </nav>         
        </div>              
      </div>
    </div>
    <section id="legales" class="py-3">
      <div class="container">
        <div class="row text-center">
          <small>© Gaming Zone 2022 - Todos los derechos reservados.</small>
        </div>
      </div>
    </section>
  </footer>